/* Body */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #9adf6c, #5782ce); 
    margin: 0;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

.CS-2370 {
    background-color: #a00f0f;
    border: 1px solid #e4e6e3;
}

.CS-305G {
    background-color: #153dc2;
    border: 1px solid #c0c0c0;
}

.portrait {
    width: 300px;
    height: auto;
    border-radius: 10px;
    cursor: pointer; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: auto; 
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; 
    max-width: 700px;
}

#caption {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.close {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

header h1 {
    font-size: 30pt;
    color: #333;
    text-decoration: underline;
    background-color: #84bd5f; 
    padding: 10px;
    border-radius: 10px;
}

img {
    float: right;
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    margin-top: 25px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

.poem {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; 
}

th {
    background-color: #50cf2a;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tr td {
    background-color: #91c573;
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 80%;
}

th {
    width: 120px;
}

p {
    text-indent: 1em;
    margin-bottom: 1em; 
}
